*{
    background-color: white;
    padding: 0;
    margin: 0; 
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 20px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    margin: 100px auto 20px;
    border-radius: 10px;
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 10px;
}
.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-bottom: 20px;
    padding-bottom: 5px;
}
.todo-app h2 img{
     width: 30px;
     margin-left: 10px;
}
.row{
    padding-bottom: 30px;
    padding-left: 20px;
    border-radius: 20px;
    background: #fff;
}
.row button{
    background: #d3360f;
    border-radius: 50px;
    height: 40px;
    width: 60px;
    border: none;
}
input{
    flex: 1;
    background: transparent;
    border: none;
    font-weight: 14px;
    height: 40px;
}
ul li {
    padding-bottom: 15px;
    cursor: pointer;
    position: relative;
    list-style: none;
    padding-left: 20px;
}
ul li::before {
    content: '';
    position: absolute;
    top: 23%;
    left: 0;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-image: url(unchecked.png);
    border-radius: 50%;
    background-size: cover;
    z-index: 0;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(checked.png);
}
ul li span{
    position: absolute;
    width: 40px;
    height: 40px;
    color: gray;
    font-size: 22px;
    right: 0;
    line-height: 10px;
    top: 5px;
    color: #002765;
    padding-bottom: 30px;
}

